### DATA DESCRIPTION

Weâ€™ll use an example table of work done per day for our illustrative purposes

- Day: day of work
- Start: work start time
- Duration: hour of work done

In [0]:
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MyDB')
BEGIN
    CREATE DATABASE [MyDB];
END;

In [0]:
USE MyDB

IF OBJECT_ID('dbo.DailyEfforts', 'U') IS NOT NULL
    BEGIN
        PRINT 'Table exists'
        DROP TABLE dbo.DailyEfforts
        PRINT 'Table dropped'
    END
ELSE
    PRINT 'Table does not exist';

In [0]:
USE MyDB

CREATE TABLE DailyEfforts (
    Day INT PRIMARY KEY,
    Start INT NOT NULL,
    Duration INT NOT NULL
)

In [0]:
USE MyDB

INSERT INTO dbo.DailyEfforts (
    Day,
    Start,
    Duration
)
VALUES
    (1, 7, 5),
    (2, 9, 2),
    (3, 8, 2),
    (4, 9, 3),
    (5, 10, 4),
    (6, 8, 5),
    (7, 8, 2),
    (8, 12, 0);

In [0]:
SELECT * FROM dbo.DailyEfforts