In [0]:
%python
# Get the list of tables in the database
tables = spark.sql("SHOW TABLES IN mydb").collect()

# Drop each table
for table in tables:
    table_name = table['tableName']
    spark.sql(f"DROP TABLE IF EXISTS mydb.{table_name}")

# Now drop the database
spark.sql("DROP DATABASE mydb")

In [0]:
USE MyDB

IF OBJECT_ID('dbo.SalesTable', 'U') IS NOT NULL
    BEGIN
        PRINT 'Table exists'
        DROP TABLE dbo.SalesTable
        PRINT 'Table dropped'
    END
ELSE
    PRINT 'Table does not exist';

In [0]:
USE MyDB

CREATE TABLE SalesTable (
    SaleID INT PRIMARY KEY,
    Salesperson NVARCHAR(30) NOT NULL,
    SaleAmount INT NOT NULL,
    SaleDate DATETIME
)

In [0]:
USE MyDB

INSERT INTO dbo.SalesTable (
    SaleID,
    Salesperson,
    SaleAmount,
    SaleDate
)
VALUES
    (1,'Alice',300,2023-01-01),
    (2,'Bob',150,2023-01-02),
    (3,'Alice',200,2023-01-03),
    (4,'Charlie',250,2023-01-04),
    (5,'Bob',300,2023-01-05),
    (6,'Alice',100,2023-01-06),
    (7,'Charlie',350,2023-01-07),
    (8,'Alice',450,2023-01-08),
    (9,'Bob',200,2023-01-09),
    (10,'Charlie',400,2023-01-10),
    (11,'Alice',150,2023-01-11),
    (12,'Bob',250,2023-01-12),
    (13,'Charlie',300,2023-01-13),
    (14,'Alice',350,2023-01-14),
    (15,'Bob',100,2023-01-15);

In [0]:
SELECT * FROM dbo.SalesTable